* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html,
body {
  font-family: Roboto, sans-serif
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.z-depth-1 {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15)
}

.z-depth-2 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
}

.padd-10 {
  padding: 10px
}

.login {
  position: relative;
  padding-bottom: 45px;
  margin-left: 10px;
  margin-right: 10px
}

.login_header {
  padding: 10px;
  cursor: default
}

.list-users {
  display: flex;
  flex-wrap: wrap
}

.list-users_inner {
  margin: 30px auto;
  position: relative;
  padding-bottom: 40px
}

